@import url('https://fonts.googleapis.com/css?family=Arimo:400,700&display=swap');
.search-container{
    font-family: 'Arimo', sans-serif;
    padding: 10px 20px 50px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.search-container h2{
  color: #333;
  text-align:center;
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  margin: 28px auto;

}
.warpper{
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
  color: #333;
  font-family: "Poppins-Regular";
}
.tab{
  cursor: pointer;
  padding:10px 20px;
  margin:0px 2px;
  background:#333;
  display:inline-block;
  color:#fff;
  border-radius:3px 3px 0px 0px;
  box-shadow: 0 0.5rem 0.8rem #00000080;
}
.panels{
  background:#fffffff6;
  box-shadow: 0 2rem 2rem #00000080;
  min-height:200px;
  width:90vw;
  border-radius:3px;
  overflow:hidden;
  padding:20px;  
}
.panel{
  display:none;
  animation: fadein .8s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel,
#three:checked ~ .panels #three-panel{
  display:block
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab,
#three:checked ~ .tabs #three-tab{
  background:#fffffff6;
  color:#000;
  border-top: 3px solid #000;
}