@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://cdn.syncfusion.com/ej2/material.css');
@tailwind base;
@tailwind components;
@tailwind utilities; 
@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins-Regular"),
   url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
 }
@font-face {
  font-family: "Poppins-SemiBold";
  src: local("Poppins-SemiBold"),
   url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins-Regular ";
}

.theme-default{
  color: yellow;
}
.theme-dark{
  color: #333 !important;
}
/* btn loader  */
.btn-custom-loader {
  width:25px;
  height:25px;
  border-radius:50%;
  background:conic-gradient(#0000 10%,#ffffff);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 0.5s infinite linear;
}
@keyframes s3 {to{transform: rotate(1turn)}}

/* min screen loader  */
.sc-ld-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.screen-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#333 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#333);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}



/* admin  */
.round {
  border: none;
  padding: 5px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  box-shadow: 0 2px 4px darkslategray;
}


.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}